
@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Edge */
  }
  .red-date {
    width:fit-content;
    border-radius: 50px;
    background-color: red;
  }
  
   @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spin {
  animation: spin 1.2s linear infinite;
}